<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    <h1>Signup Page </h1>
    <form method="post" action="/signup">
        <input type="text" name="name" placeholder="Enter name"/><br><br>
        <input type="text" name="username" placeholder="Enter username"/><br><br>
        <input type="password" name="password" placeholder="Enter Password"/><br><br>
        <button>Signup</button>
    </form>
    <p>Already a user? <a href="../login">Login</a></p>
</body>
</html>